In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
train_dataset = pd.read_csv("./train_dataset.csv")
test_dataset = pd.read_csv("./test_dataset.csv")

In [3]:
train_dataset.head(10)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,Male,disloyal Customer,33,Business travel,Eco,571,2,3,2,...,4,3,1,3,4,3,4,10,3.0,0
1,2,Female,Loyal Customer,49,Business travel,Business,1431,4,1,4,...,5,5,5,5,3,5,3,0,0.0,1
2,3,Female,Loyal Customer,43,Business travel,Eco,867,1,4,4,...,1,1,1,1,1,1,2,0,18.0,0
3,4,Female,Loyal Customer,27,Business travel,Business,1550,3,3,3,...,2,4,4,5,5,4,2,0,0.0,1
4,5,Male,Loyal Customer,11,Personal Travel,Eco,526,3,4,3,...,4,5,2,5,3,5,4,0,10.0,0
5,6,Male,Loyal Customer,30,Personal Travel,Eco Plus,1034,2,4,2,...,5,4,5,5,4,4,5,0,0.0,0
6,7,Male,Loyal Customer,38,Business travel,Eco,826,5,1,1,...,5,1,4,4,5,4,5,2,5.0,1
7,8,Female,Loyal Customer,39,Business travel,Eco Plus,162,3,4,4,...,3,3,5,5,1,3,3,0,0.0,1
8,9,Male,disloyal Customer,43,Business travel,Business,541,2,2,2,...,3,5,2,5,4,4,3,0,0.0,0
9,10,Female,disloyal Customer,24,Business travel,Eco,1065,4,4,4,...,2,4,2,4,2,4,2,10,17.0,0

In [4]:
test_dataset.head(10)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,Female,Loyal Customer,25,Personal Travel,Eco,2704,2,2,2,...,5,2,4,4,3,5,1,5,152,191.0
1,2,Female,Loyal Customer,49,Business travel,Business,1623,1,1,1,...,4,2,2,2,2,4,2,3,60,52.0
2,3,Male,Loyal Customer,51,Business travel,Business,338,4,4,4,...,5,5,5,5,5,4,5,4,0,0.0
3,4,Male,Loyal Customer,34,Business travel,Eco Plus,95,0,0,0,...,1,5,4,4,1,3,3,5,0,0.0
4,5,Male,Loyal Customer,34,Personal Travel,Eco,602,4,4,4,...,5,5,4,5,4,5,5,5,130,140.0
5,6,Male,Loyal Customer,55,Business travel,Eco,965,3,3,4,...,3,3,2,2,4,2,4,3,0,0.0
6,7,Male,disloyal Customer,26,Business travel,Eco,508,3,0,3,...,1,1,2,5,5,3,5,1,0,0.0
7,8,Female,Loyal Customer,39,Business travel,Business,3799,2,2,2,...,5,4,4,4,4,3,4,4,0,0.0
8,9,Female,Loyal Customer,34,Personal Travel,Eco,350,2,1,2,...,3,3,2,4,2,4,2,3,0,0.0
9,10,Male,disloyal Customer,49,Business travel,Eco,299,3,4,3,...,2,3,1,2,3,4,3,3,9,0.0

In [5]:
train_dataset.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             28
satisfaction                          0
dtype: int64

In [6]:
test_dataset.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             19
dtype: int64

In [7]:
train_dataset['Arrival Delay in Minutes'].fillna(train_dataset['Arrival Delay in Minutes'].median(),inplace=True)

In [8]:
train_dataset.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [9]:
test_dataset['Arrival Delay in Minutes'].fillna(test_dataset['Arrival Delay in Minutes'].median(),inplace=True)

In [10]:
test_dataset.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

In [11]:
label_encoder = LabelEncoder()
scaler = StandardScaler()

In [12]:
train_dataset['Gender'] = label_encoder.fit_transform(train_dataset['Gender'])
train_dataset['Customer Type'] = label_encoder.fit_transform(train_dataset['Customer Type'])
train_dataset['Type of Travel'] = label_encoder.fit_transform(train_dataset['Type of Travel'])
train_dataset['Class'] = label_encoder.fit_transform(train_dataset['Class'])

In [13]:
train_dataset

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,1,1,33,0,1,571,2,3,2,...,4,3,1,3,4,3,4,10,3.0,0
1,2,0,0,49,0,0,1431,4,1,4,...,5,5,5,5,3,5,3,0,0.0,1
2,3,0,0,43,0,1,867,1,4,4,...,1,1,1,1,1,1,2,0,18.0,0
3,4,0,0,27,0,0,1550,3,3,3,...,2,4,4,5,5,4,2,0,0.0,1
4,5,1,0,11,1,1,526,3,4,3,...,4,5,2,5,3,5,4,0,10.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,0,0,54,1,1,1068,1,4,1,...,4,4,1,4,4,4,3,21,12.0,0
9996,9997,0,0,54,0,2,1399,4,1,1,...,4,4,4,4,1,4,4,34,21.0,0
9997,9998,1,0,46,0,0,1440,3,3,2,...,4,4,4,4,3,4,3,37,38.0,1
9998,9999,0,0,41,0,0,90,4,1,4,...,3,4,5,5,5,4,5,64,210.0,1
9999,10000,1,0,41,0,0,1747,3,3,3,...,4,4,4,4,3,4,5,2,0.0,1

In [14]:
test_dataset['Gender'] = label_encoder.fit_transform(test_dataset['Gender'])
test_dataset['Customer Type'] = label_encoder.fit_transform(test_dataset['Customer Type'])
test_dataset['Type of Travel'] = label_encoder.fit_transform(test_dataset['Type of Travel'])
test_dataset['Class'] = label_encoder.fit_transform(test_dataset['Class'])

In [15]:
test_dataset.head(10)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,0,25,1,1,2704,2,2,2,...,5,2,4,4,3,5,1,5,152,191.0
1,2,0,0,49,0,0,1623,1,1,1,...,4,2,2,2,2,4,2,3,60,52.0
2,3,1,0,51,0,0,338,4,4,4,...,5,5,5,5,5,4,5,4,0,0.0
3,4,1,0,34,0,2,95,0,0,0,...,1,5,4,4,1,3,3,5,0,0.0
4,5,1,0,34,1,1,602,4,4,4,...,5,5,4,5,4,5,5,5,130,140.0
5,6,1,0,55,0,1,965,3,3,4,...,3,3,2,2,4,2,4,3,0,0.0
6,7,1,1,26,0,1,508,3,0,3,...,1,1,2,5,5,3,5,1,0,0.0
7,8,0,0,39,0,0,3799,2,2,2,...,5,4,4,4,4,3,4,4,0,0.0
8,9,0,0,34,1,1,350,2,1,2,...,3,3,2,4,2,4,2,3,0,0.0
9,10,1,1,49,0,1,299,3,4,3,...,2,3,1,2,3,4,3,3,9,0.0

In [16]:
train_dataset = scaler.fit_transform(train_dataset)
train_dataset

array([[-1.73187761,  1.03439103,  2.21510147, ..., -0.11170343,
        -0.29174814, -1.        ],
       [-1.7315312 , -0.96675239, -0.45144659, ..., -0.36386132,
        -0.36675602,  1.        ],
       [-1.73118479, -0.96675239, -0.45144659, ..., -0.36386132,
         0.08329125, -1.        ],
       ...,
       [ 1.73118479,  1.03439103, -0.45144659, ...,  0.56912289,
         0.58334377,  1.        ],
       [ 1.7315312 , -0.96675239, -0.45144659, ...,  1.24994921,
         4.88379542,  1.        ],
       [ 1.73187761,  1.03439103, -0.45144659, ..., -0.31342974,
        -0.36675602,  1.        ]])

In [17]:
test_dataset = scaler.fit_transform(test_dataset)
test_dataset

array([[-1.73161785, -1.00652126, -0.47485808, ...,  1.25053935,
         3.89350692,  4.94780461],
       [-1.73075182, -1.00652126, -0.47485808, ..., -0.26503629,
         1.30036771,  1.06025283],
       [-1.7298858 ,  0.99352099, -0.47485808, ...,  0.49275153,
        -0.39081004, -0.39408308],
       ...,
       [ 1.7298858 ,  0.99352099, -0.47485808, ..., -1.02282411,
         0.25747477,  0.86447685],
       [ 1.73075182,  0.99352099, -0.47485808, ...,  1.25053935,
        -0.39081004, -0.39408308],
       [ 1.73161785, -1.00652126,  2.10589235, ..., -1.78061193,
         2.59693732,  2.57052475]])

In [18]:
train_set, test_set = train_test_split(train_dataset, test_size=0.2, random_state=42)
X_train = train_set[:, :-1] 
y_train = train_set[:, -1]   
X_test = test_set[:, :-1]    
y_test = test_set[:, -1]

k-NN algorithms

In [19]:
knn_model = KNeighborsClassifier()
knn_model.fit(X_train,y_train)

KNeighborsClassifier()

In [20]:
predictions_knn = knn_model.predict(X_test)

In [21]:
accuracy_knn = accuracy_score(y_test,predictions_knn) * 100
print("Accuracy k-NN: {0:.3f}".format(accuracy_knn),"%")

Accuracy k-NN: 90.150 %

Random Forest algorithms

In [35]:
rfc_model = RandomForestClassifier(n_estimators=100)
rfc_model.fit(X_train,y_train)

RandomForestClassifier()

In [36]:
predictions_rfc = rfc_model.predict(X_test)

In [39]:
accuracy_rfc = accuracy_score(y_test,predictions_rfc) * 100
print("Accuracy RandomRorest: {0:.3f}".format(accuracy_rfc),"%")

Accuracy RandomRorest: 94.450 %

Decision Tree algorithms

In [25]:
model_dr = DecisionTreeClassifier()
model_dr.fit(X_train,y_train)

DecisionTreeClassifier()

In [26]:
predictions_dr = model_dr.predict(X_test)

In [27]:
accuracy_dr = accuracy_score(y_test,predictions_dr) * 100
print("Accuracy Decission: {0:.3f}".format(accuracy_dr),"%")

Accuracy Decission: 93.100 %

SVM algorithms

In [28]:
model_svm = SVC()
model_svm.fit(X_train,y_train)

SVC()

In [30]:
predictions_svm = model_svm.predict(X_test)

In [31]:
accuracy_svm = accuracy_score(y_test,predictions_svm) * 100
print("Accuracy SVM: {0:.3f}".format(accuracy_svm),"%")

Accuracy SVM: 93.900 %

In [33]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [34]:
predictions = model.predict(test_dataset)
predictions

array([-1., -1.,  1., ..., -1.,  1., -1.])

In [68]:
submission = pd.read_csv("./sample_submission.csv")

In [69]:
submission.satisfaction = predictions

In [70]:
submission['satisfaction'] = np.where(submission['satisfaction'] < 0, 0, submission['satisfaction'])
submission['satisfaction'] = submission['satisfaction'].astype(int)
submission

        id  satisfaction
0        1             0
1        2             0
2        3             1
3        4             1
4        5             1
...    ...           ...
3995  3996             1
3996  3997             0
3997  3998             0
3998  3999             1
3999  4000             0

[4000 rows x 2 columns]

In [ ]:
submission.to_csv("./sample_submission.csv")